@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 100vh;
    gap: 50px;
    padding: 20px;
    border: 1px solid #3a3a3a;
    flex-direction: column;
}

.sections {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    gap: 100px;
    padding: 20px;
}

.uploadSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.title {
    color: #a782e6;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.uploadBox {
    width: 250px;
    height: 350px;
    border-radius: 10px;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #a782e6;
    overflow: hidden;
}

.uploadIcon {
    color: #563A9C;
    font-size: 30px;
}

.previewImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postButton {
    font-size: 14px;
    margin-top: 10px;
    background-color: #a782e6 !important;
    color: white !important;
}

.postButton:disabled {
    background-color: #3a3a3a !important;
    color: #888 !important;
    cursor: not-allowed !important;
    opacity: 0.6;
}

.formSection {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: fit-content;
    width: 100%;
    max-width: 900px;
}

.inputField {
    background-color: #EEEEEE;
    border-radius: 10px;
    max-width: 100%;
}

.inputField .MuiOutlinedInput-root {
    color: white;
    border-color: #a782e6;
}

.inputField label {
    color: #563A9C;
    font-family: 'Manrope', sans-serif;
    font-weight: bolder;
}

.inputField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #c19ef6 !important;
}

.inputField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #a782e6 !important;
}