@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.createPost {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.9);
}

.innerPost h1 {
    font-weight: 600;
    font-size: 2.5em;
    color: #fff;
}

.innerPost {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", "Arial", "Times New Roman";
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #9b59b6, #8e44ad, #5f2b8b);
    border: 1px solid hsla(0, 0%, 100%, 0.702);
    border-radius: 30px;
    padding: 40px;
    gap: 30px;
}