@import "tailwindcss";

@theme {
    --color-purple: #46299F;
    --color-vibrant-purple: #492bcf;
    --color-light-gray: #D9D9D9;
    --color-black: #000000;
    --color-blacklight: #111010;
    --color-grey: #424242;
    --color-blue: #46299F;
    --color-bluelight: #7455D3;
       
}