@import "https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";
@import "tailwindcss";

.Toastify__progress-bar {
  background-color: #ffffff !important;
  height: 2px !important;
}

.Toastify__toast--success .Toastify__icon,
.Toastify__toast--error .Toastify__icon,
.Toastify__toast--warning .Toastify__icon {
  color: white !important;
}

@theme {
  --font-montserrat: "Montserrat";
  --color-purple: #46299f;
  --color-vibrant-purple: #492bcf;
  --color-light-gray: #d9d9d9;
  --color-black: #000000;
  --color-blacklight: #111010;
  --color-grey: #424242;
  --color-blue: #46299f;
  --color-bluelight: #7455d3;
}
